<!--<div layout="column">
	<div layout-align="center" layout="row">
		<img ng-src="images/fix-home.jpg" alt="Washed Out" class="padding-15" style="width:100%, height:100%">
	</div>
</div>-->
<div class="khung">
	<div class="container">
		<div layout="column">
			<div style="padding-top: 100px;">
				<div class="col-xs-4 col-sm-2 col-sm-offset-1 canh-noi-dung" ui-sref="yeucau">
					<span class='nganh' style='background-color:#706D3C;'>
                    <span class='title'>Quản lý yêu cầu<br/>
                    	<img src = '../images/verification-of-delivery-list-clipboard-symbol.svg' class='bieu-tuong'/>
                	</span>
					</span>
				</div>
				<div class='col-xs-4 col-sm-2 canh-noi-dung' ui-sref="nhanvien">
					<span class='nganh' style='background-color:#E65527;'>
                    <span class='title'>Quản lý nhân viên<br/>
                    	<img src = '../images/pc-mechanic.svg' class='bieu-tuong'/>
                	</span>
					</span>
				</div>
				<div class='col-xs-4 col-sm-2 canh-noi-dung' ui-sref="dichvu">
					<span class='nganh' style='background-color:#37A5B3;'>
                    <span class='title'>Quản lý dịch vụ<br/>
                    	<img src = '../images/wrench-in-a-hand-inside-a-house.svg' class='bieu-tuong'/>
                	</span>
					</span>
				</div>
				<div class='col-xs-4 col-sm-2 canh-noi-dung' ui-sref="khachhang">
					<span class='nganh' style='background-color:#D5BC3A;'>
                    <span class='title'>Quản lý khách hàng<br/>
                    	<img src = '../images/office-worker-outline.svg' class='bieu-tuong'/>
                	</span>
					</span>
				</div>
				<div class='col-xs-4 col-sm-2 canh-noi-dung' ui-sref="thongke">
					<span class='nganh' style='background-color:#1D6285;'>
                    <span class='title'>Thống kê<br/>
                    	<img src = '../images/line-chart.svg' class='bieu-tuong'/>
                	</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
