<md-list>
	<md-list-item class="md-3-line" ng-style="{'background-color': vm.select===1 ? '#0054b3' : '#009fdf', 'color': 'white'}" ng-click="vm.select=1; vm.mode('khachhang')">
		Danh sách nhân viên
	</md-list-item>
	<md-divider></md-divider>
	<md-list-item class="md-3-line" ng-style="{'background-color': vm.select===2 ? '#0054b3' : '#009fdf', 'color': 'white'}" ng-click="vm.select=2; vm.mode('khachhang')">
		Lương nhân viên
	</md-list-item>
	<md-divider></md-divider>
	<md-list-item class="md-3-line" ng-style="{'background-color': vm.select===3 ? '#0054b3' : '#009fdf', 'color': 'white'}" ng-click="vm.select=3; vm.mode('khachhang')">
		Tài khoản nhân viên
	</md-list-item>
	<md-divider></md-divider>
</md-list>
